<nav class="navbar">
    <div class="container">
      <a href="/" class="logo">SusyLau</a>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/catalogo">Catálogo</a></li>
        <li><a href="/carrito">Carrito</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/seguimiento">Seguimiento</a></li>
      </ul>
    </div>
  </nav>
  